.form {
    &__submit-button {
        width: 100%;
        height: 80px;
        margin: 30px 0 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: $white;
        border: 1px solid $grey;
        background-color: $grey;
        cursor: pointer;
        -webkit-appearance: none;
        outline: none;
        transition: color .3s ease, background-color .3s ease, opacity .3s ease;
        &:hover {
            background-color: $white;
            color: $grey
        }
        &:disabled {
            pointer-events: none;
            opacity: .7;
        }
        @include tablets {
            max-width: 280px;
        }
    }

    &__errors {
        margin: 20px 0 0;
        color: red;
    }

    &-group {
        position: relative;

        &__input {
            max-width: 540px;
            width: 100%;
            height: 60px;
            padding: 0 0 0 100px;
            -webkit-appearance: none;
            outline: none;
            background: transparent;
            border: none;
            font-size: 18px;
            border-bottom: 1px solid $grey;
            color: $white;
            transition: border-bottom-color .3s ease;
            box-sizing: border-box;
            font-family: 'SuisseIntl', Helvetica, sans-serif;
            &:focus {
                border-bottom-color: $white;
                ~ label {
                    color: $white;
                }
            }
        }

        &__label {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: 18px;
            position: absolute;
            transition: color .3s ease;
            cursor: text;
        }

        input[type='checkbox']:checked ~ label {
            &::after {
                width: 15px;
                height: 15px;
                top: 3px;
                left: -.5px;
                content: '';
                position: absolute;
                background-image: url('../assets/tick.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }

        &__checkbox {
            margin: 20px 0 0;
            display: inline-block;
            color: $white;
            cursor: pointer;
            position: relative;
            &::before {
                width: 15px;
                height: 15px;
                margin: 0 20px 0 0;
                content: '';
                background-color: $white;
                display: inline-block;
                transform: translateY(2px);
            }
        }
    }
}
